.logo {
    height: 45px;
    position: absolute;
    top: 6px;
    left: 2%;
}

.header-link {
    color: white !important;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}

.navbar-inverse {
    border: none !important;
}

.navbar-header {
    padding: 5px;
}

.navbar-toggle:hover, .navbar-toggle, .collapsed {
    background-color: #03bb4f !important;
}

.navbar-toggle:hover .icon-bar {
    background-color: white !important;
}
.icon-bar {
    background-color: black !important;
}

a {
    margin-left: 10px;
    margin-right: 10px;
}

li{
    margin-top: 10%;
    margin-bottom: 6%;
}

.header-link:hover {
    color: #03bb4f !important;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
