.search {
    width: 100%;
    border-radius: 500px;
    padding: 5px;
    padding-left: 10px;
    color: black !important;
}

.search:focus {
    outline: 0;
}

.search::-webkit-input-placeholder {
    color: #ccc;
}

.search:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}

.search::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
}

.search:-ms-input-placeholder {
    color: #ccc;
}


